*{
    margin: 0;
    padding: 0;

}



.container{
    width: 700px;
    height: 500px;
    margin: 40px;
    border: 2px solid black;
}


.item{
    float: left;
}

.item1{
    width: 150px;
    height: 150px;
    background-color: yellow;
    position: relative;
    top: 50px;
    /* left: 30px; */
}

.item2{
    width: 150px;
    height: 150px;
    background-color: red;
}

.item3{
    width: 150px;
    height: 150px;
    background-color: green;
}

.paragraph{
    background-color: violet;
    position: sticky;
    top: 0px;
    left: 0px;
}

nav{
    width: 100vw;
    height: 70px;
    box-shadow: 2px 2px 5px black ;
    display: flex; 
}

.nav-logo{
    width: 20%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo p{
        color: blue;
        font-size: 20px;
    }

.nav-logo p span{
        color: orangered;
    }

ul{
    width: 60%;
    /* background-color: brown; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 20px;
    font-weight: 600;
}

ul li{
    transition-property: color;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

ul li:hover{
    color: orangered;
    cursor: pointer;

}

.nav-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-btn button{
    padding: 10px 20px ;
    background-color: rgb(14, 85, 14);
    border: none;
    border-radius: 5px;
    color: white;

}

.nav-btn button:hover{
    background-color: green;
    cursor: pointer;
}

.move{
    width: 100px;
    height: 100px;
    background-color: sandybrown;
    transition-property: all ;
    transition-duration: 2s;
    /* transition-delay: 3s; */
}

.move:hover{
    transform: translate(400px);
    /* background-color: red; */

}