p[id="paragraph"]{
    background-color: bisque;
    font-size: 22px;
    line-height: 1.6;
    margin: 20px;
}

p{

}
p::first-letter{
   background-color: hotpink;
}
p::first-line{
    background-color: blue;
}
p::selection{
    background-color: green;
}
p::after{
    background-color: violet;
}
p::before{
    background-color: purple;
}
.div{
    /* width: 200px; 
    /* background-color: brown; */

    /* padding-top:20px;
    padding-right:30px;
    padding-bottom:40px;
    padding-left:20px;*/
     /* padding :20px 3opx 40px 20px; */
/*
     margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 50px;  */
    /* margin: 30px 20px 30px 50px; */
}
.div2{
    height: 300px;
    width: 300px;
    border: 2px solid black;
    background-image: url("https://plus.unsplash.com/premium_photo-1673002094195-f18084be89ce?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bGlmZXxlbnwwfHwwfHx8MA%3D%3D&fm=jpg&q=60&w=3000");
    background-position: center;
    background-size: cover;
}
div{

}
#block-ele{
    background-color: chocolate;
    display: inline;
}

span{
    background-color: darkolivegreen;
    display: block;
    width: 300px;
}
h1{
    background-color: chartreuse;
    display: inline-block;
    /* display: none; */
    visibility: visible;
    /* visibility: hidden; */
}
h2{
    background-color: red;
    display: inline-block;
    display: none;
}

.container{
    width: 400px;
    height: 400px;
    border: 2px solid blue;
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 3px; */
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
}
.item{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 5px;

}