@import url("design2.css");
p{
    background-color: blueviolet;
}
#box{
    width: 100px;
    height: 100px;
    background-color: blue;

}
.paragraph{
    background-color: brown;
}
h3{
    color: red;
}

/*  .parent p{
    background-color: aqua;
}  */

.parent +p{
    background-color: forestgreen;
}

.parent -p{
    background-color: fuchsia;
}

.learn-pesudo{
    width: 100px;
    height: 100px;
    border:2px solid black;
    background-color: red;
}

.learn-pesudo:hover{
    background-color: red;
}
input:focus{
    background-color: purple;
}
ul li:first-child{
    background-color: chartreuse;
}
ul li:last-child(2){
    background-color: red;
}
ul li:nth-child(odd){
    background-color: aqua;
}