.container{
    width: 900px;
    /* height: 400px; */
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* justify-content: start; */
    /* justify-content: flex-end; */
    /* justify-content: space-evenly; */
    /* align-items: center;
    justify-content: center; */
    flex-wrap: wrap;
    /* justify-content: center; */
    /* column-gap: 5px;
    row-gap: 4px; */
    gap: /4px;
}
.item{
    width: 200px;
    height: 100px;
    border: 2px solid blue;
}
.item:nth-child(1){
    order: 7;
}
.item:nth-child(2){
    order: 5;
}
.item:nth-child(3){
    order: 4;
}
.item:nth-child(4){
    order: 2;
}
.item:nth-child(5){
    order: 1;
}
.item:nth-child(6){
    order: 6;
}
.item:nth-child(7){
    order: 3;
}
.grid-container{
    width: 600px;
    height: 300px;
    padding: 10px;
    border: 1px solid gray;
    margin: 20px auto;
    display: grid;
    background-color: bisque;
    /* grid-template-columns: 100px 100px 100px; */
    /* grid-template-columns: repeat(3,100px); */
    grid-template-columns: repeat(3,1fr);
    /* grid-template-rows: 100px 100px; */
     /* grid-template-rows: repeat(2,100px); */
     grid-template-rows: repeat(4,1fr);
     gap: 5px;
}

.items{
    border: 1px solid blueviolet;
    /* width: 100px; */
}
.header{
    /* grid-column-start: 1;
    grid-column-end: 4;
    background-color: brown; */
    grid-column: 1 / 4;
}

.sidebar{
     /* grid-row-start: 2;
    grid-row-end: 4; */
    grid-row: 2 / 4;
}
.content1{
     /* grid-column-start: 2;
    grid-column-end: 4; */
    grid-column: 2 / 4;
}

.content2{
     /* grid-column-start: 2;
    grid-column-end: 3; */
    grid-column: 2 / 4;
}

.content3{
     /* grid-column-start: 3;
    grid-column-end: 4; */
    grid-column: 3 / 4;
}
.footer{
     /* grid-column-start: 1;
    grid-column-end: 4; */
    grid-column: 1 / 4;
}